* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.chatPage {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid #cacaca;
  position: relative;
}

#vk_auth {
  position: fixed;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
