.userProfile {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  border-left: 1px solid #cacaca;
  height: 90vh;
  padding: 20px;
}

.infoBlock {
  display: none;
}

.infoBlockActive {
  display: block;
}

.accountBtn {
  display: inline-block;
  padding: 10px 0;
  min-width: 140px;
  text-align: center;
  border: 1px solid #cacaca;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-out 0.1s;
  outline: none;

  &:hover,
  &.active {
    background-color: rgba(106, 191, 251, 0.82);
  }
}

.accountBlock {
  padding: 10px 0;
  border-bottom:1px solid #cacaca;
  cursor: pointer;

  &:hover {
    background-color: rgba(106, 191, 251, 0.05);
    color: #585858;
  }
}

.accountInfo {
  display: none;

  &.active {
    display: block;
  }
}
