.usersList {
    display: inline-block;
    position: relative;
    left: 0;
    width: 300px;
    vertical-align: top;
}

.usersUl {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.3s ease-out 0.1s;
        padding: 15px;
        position: relative;

        &:hover {
          background-color: rgba(106, 191, 251, 0.26);
          color: #585858;
        }
    }
}

.userActive {
  background-color: rgba(106, 191, 251, 0.46);
  color: #585858;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
}

.arrow {
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.userMenu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-radius: 3px;
  box-shadow: 0 0 3px #000;
  z-index: 5;
  display: none;

  ul {
    padding: 0;
    margin: 0;
  }

  &.active {
    display: block;
  }
}
